server {
    listen      ${PORT};
    server_name _;

    root  /usr/share/nginx/html;
    index index.html;

    add_header X-Content-Type-Options nosniff;

    gzip            on;
    gzip_comp_level 5;
    gzip_min_length 256;
    gzip_vary       on;
    gzip_types      text/plain text/css application/javascript application/json image/svg+xml font/woff2;

    location = /config.js {
        add_header Cache-Control "no-store";
        add_header X-Content-Type-Options nosniff;
    }

    location = /index.html {
        add_header Cache-Control "no-store";
        add_header X-Content-Type-Options nosniff;
    }

    location /assets/ {
        add_header Cache-Control "public, max-age=31536000, immutable";
        add_header X-Content-Type-Options nosniff;
        try_files $uri =404;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}
